/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 déc. 2018, 16:07:58
    Author     : ClemTouil
*/

/* Général ------------------------------------------------------------------------------------- */
body {
    background-color :#6bdafe;
}


#main {
    padding: 10px;
    border: 1px #0568CD solid;
    background-color : white;
}


h2 {
    font-weight: bold;
    color: #0568CD;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #7EACFB;
    border-radius: 4px;
}

 #cadre{
     background-color: white;
 }

/* Formulaires --------------------------------------------------------------------------------------- */
form {
    padding:10px;
    width:500px;
    margin:auto;
    margin-top: 180px;
}

form label {
    display: block; /* Pour aligner les champs */
    width: 300px;
    margin: 3px 0px 0px 0px;
}


form input {
    padding:3px;
    border:1px solid #7EACFB;
    border-radius:4px;
    width:200px;
 }

input[type=submit]{
    width:100px;
    margin-left:10px;
    cursor:pointer;
 }


form input.btn {
     padding:3px;
 border:1px solid #7EACFB;
 border-radius:4px;
 width:200px;
}


form .requis {
    color: #c00;
}